/* YourNavBar.css */

.navbar-container {
  /* background-color: #b15eff; */
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* padding:2%; */
    height: 50px; /* Adjust the height as needed */
    /* background-color: #333; Adjust the background color as needed */
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    color: #fff; /* Adjust the text color as needed */
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff; /* Adjust the text color as needed */
  }

  .navitem{
    margin: 1%;
  }
  
  /* Add additional styles as needed */
  