.intro{
    position: relative;
    align-content: center;
    /* background-color: #87C4FF; */
    height: 300px;
    /* width: 100%; */
    /* color:white; */
    /* color:#39A7FF; */
    margin:0;
    text-align: center;
  }